---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tenuta Le Tre Rose Dove Siamo">
  <div class="container mx-auto w-full sm:w-auto text-center">
    <div class="flex flex-col sm:flex-row gap-4 items-center justify-center">
      <div class="flex flex-col gap-4">
        <h1
          class="text-2xl text-center block shrink-0 mx-auto my-8 italic font-serif text-tltr-900"
        >
          Dove Siamo
        </h1>
        <p class="block">Via Grizzosa 9 84079 Vibonati (SA)</p>
        <a
          href="https://maps.app.goo.gl/FDpbV1i4pUFYgyTS9"
          target="_black"
          class="bg-tltr-900 text-tltr-50 p-4 block w-44 mx-auto rounded-lg flex items-center justify-center gap-4 hover:bg-tltr-700"
        >
          <Icon name="bx:map" class="text-3xl" />
          <p>Apri Mappa</p>
        </a>
      </div>
      <iframe
        class="px-8 my-16 rounded-lg w-full border-0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3051.9955896840074!2d15.579744411480425!3d40.0978112713738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133ecf7b00dabd15%3A0x6c3e88495eac23cc!2sTenuta%20Le%20Tre%20Rose!5e0!3m2!1sit!2sit!4v1716923577012!5m2!1sit!2sit"
        width="600"
        height="450"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <h1
      class="text-2xl text-center block shrink-0 mx-auto my-8 italic font-serif text-tltr-900"
    >
      Come raggiungerci
    </h1>

    <div>
      <div
        class="w-auto border-2 rounded-lg p-4 bg-tltr-700 text-white shadow-lg"
      >
        <h4 class="font-bold text-xl text-center">In auto</h4>
        <p class="block mx-auto mt-4 p-4 w-full text-center">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
          finibus purus at ultricies vehicula. Nam vitae nibh semper, pharetra
          velit vitae, sodales metus. Quisque placerat mattis augue nec dictum.
          Donec finibus egestas condimentum. Nunc laoreet ante.",
        </p>
      </div>
    </div>

    <swiper-slide>
      <div class="w-auto text-center border-2 rounded-lg p-4 shadow-lg">
        <h4 class="font-bold text-lg">🚄 In treno</h4>
        <p class="block mx-auto mt-4 p-4 w-full text-center">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
          finibus purus at ultricies vehicula. Nam vitae nibh semper, pharetra
          velit vitae, sodales metus. Quisque placerat mattis augue nec dictum.
          Donec finibus egestas condimentum. Nunc laoreet ante.",
        </p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="w-auto text-center border-2 rounded-lg p-4 shadow-lg">
        <div class="flex gap-2 items-center align-center justify-center">
          <Icon name="majesticons:airplane" class="text-3xl" /><h4
            class="font-bold text-lg"
          >
            In aereo
          </h4>
        </div>
        <p class="block mx-auto mt-4 p-4 w-full text-center">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
          finibus purus at ultricies vehicula. Nam vitae nibh semper, pharetra
          velit vitae, sodales metus. Quisque placerat mattis augue nec dictum.
          Donec finibus egestas condimentum. Nunc laoreet ante.",
        </p>
      </div>
    </swiper-slide>
  </div>

  <div class="flex flex-col sm:flex-row gap-4"></div>
</Layout>
