---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import car1 from "../images/1.jpg";
import car2 from "../images/2.jpg";
import car3 from "../images/3.jpg";
import car4 from "../images/4.jpg";

import logo from "../images/logo-bottom-min.svg";
import { Icon } from "astro-icon/components";

const slides = [
  { src: car1, desc: "La struttura" },
  { src: car2, desc: "La struttura" },
  { src: car3, desc: "La struttura" },
  { src: car4, desc: "La struttura" },
];
---

<Layout title="Tenuta Le Tre Rose - B&B ed Eventi - Vibonati Cilento ">
  <div class="flex flex-col sm:flex-row mx-auto gap-16 sm:gap-32 items-center">
    <Image
      src={logo}
      class="block shrink-0 max-w-44"
      alt="Logo Tenuta Le Tre Rose Vibonati Cilento"
      loading="eager"
    />
    <p class="leading-6 box-border block px-16 sm:px-8 italic font-serif">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac
      vulputate arcu, vel aliquam orci. Nulla tempor elementum magna, laoreet
      eleifend augue. Nulla in neque mollis, fringilla sem a, tincidunt felis.
      Duis maximus arcu sit amet sapien iaculis suscipit. Cras sit amet feugiat
      justo, non aliquet mi. Nullam viverra elit felis, id viverra nibh eleifend
      vel. Nullam hendrerit ante dui, sit amet elementum ex mollis vitae.
    </p>
  </div>
  <div class="w-50 sm:px-16 mt-16">
    <swiper-container
      pagination="true"
      space-between={100}
      autoplay-delay={2500}
      slides-per-view={1}
      effect="fade"
      zoom="true"
      grab-cursor="true"
    >
      {
        slides.map((e) => (
          <swiper-slide>
            <div class="swiper-zoom-container">
              <Image
                src={e.src}
                class="rounded-lg h-auto max-w-full"
                alt={e.desc}
              />
            </div>
          </swiper-slide>
        ))
      }
    </swiper-container>
  </div>
  <h1
    class="text-2xl text-center block shrink-0 mx-auto my-8 italic font-serif text-tltr-900"
  >
    La tenuta
  </h1>
  <p class="leading-6 box-border block shrink-0 px-16 sm:px-8">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac
    vulputate arcu, vel aliquam orci. Nulla tempor elementum magna, laoreet
    eleifend augue. Nulla in neque mollis, fringilla sem a, tincidunt felis.
    Duis maximus arcu sit amet sapien iaculis suscipit. Cras sit amet feugiat
    justo, non aliquet mi. Nullam viverra elit felis, id viverra nibh eleifend
    vel. Nullam hendrerit ante dui, sit amet elementum ex mollis vitae.
  </p>
</Layout>

<style>
  swiper-container::part(bullet-active) {
    background-color: #be1c2d;
  }

  swiper-container::part(bullet) {
    background-color: black;
    opacity: 0.6;
  }

  swiper-container::part(button-next) {
    padding: 8px 16px;
  }
</style>
