---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tenuta Le Tre Rose">
    <div class="container mx-auto w-3/4 ">
        <h1 class="text-center font-bold text-lg">Le stanze</h1>
    </div>
</Layout>