<button
  style={{
    background: "linear-gradient(-45deg, #7f1d27, #be1c2d)",
    backgroundSize: "200% 200%",
    animation: "Gradient 5s ease infinite",
    transition:
      "transform 0.25s ease, color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease",
  }}
  class="group sm:mr-12 flex items-center justify-center gap-4 py-0 px-8 sm:px-32 bg-tltr-500 rounded-3xl w-full h-10 font-bold hover:scale-105 shadow-lg"
>
  <slot />
</button>
