---
import CTA from "./CTA.astro";
import { Icon } from "astro-icon/components";
---

<article
  class="relative z-10 grid grid-cols-1 sm:grid-cols-2 w-4/5 mx-auto sm:w-auto sm:min-h-36 items-center justify-items-center gap-4 pb-12 sm:p-0 sm:mx-4 -top-24 rounded-xl bg-tltr-200 shadow-lg"
>
  <div class="flex flex-col items-center justify-center gap-2 px-8 pt-6 pb-8 mb-4">
    <h2 class="text-tltr-900 sm:ml-12 text-lg font-bold">Prenota ora</h2>
    <a href="https://www.booking.com/Share-N6Vshpx" target="_blank">
      <CTA>
        <Icon name="tabler:brand-booking" class="text-4xl" />
        <h3 class="block w-full">Booking</h3>
      </CTA>
    </a>
    <a href="www.airbnb.com/slink/gzAcdSs8" target"_blank">
      <CTA>
        <Icon name="tabler:brand-airbnb"  class="text-4xl" />
        <h3 class="block w-full">Airbnb</h3>
      </CTA>
    </a>
  </div>
  <form
    class="px-8 pt-6 pb-8 mb-4 flex flex-col gap-2"
    action="https://formspree.io/f/xwkgjgyd"
    method="POST"
  >
      <label
        class="block text-tltr-900 sm:ml-12 text-lg text-center font-bold"
        for="email"
      >
        Contatto Email
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline"
        id="username"
        type="email"
        name="email"
        placeholder="Email"
        autocomplete="email"
      />
    <CTA>
      <Icon name="tabler:mail" class="text-4xl animate-wiggle" />
      <p>Contattaci</p>
    </CTA>
  </form>
</article>
