---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/montserrat";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Tenuta Le Tre Rosa Vibonati Sapri B&B Booking Airbnb"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
	<Header />
    <div class="w-auto px-4 mt-2 pt-32 bg-tltr-50">
      <slot />
    </div>
    <div class="h-56 bg-tltr-50"/>
    <Footer />
  </body>
</html>
